@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Layton, UT<br />
    <abbr title="Phone">P:</abbr>
    828.216.4363
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jameslentz@gmail.com">jameslentz@gmail.com</a>
</address>